/* 언어설정 */
@charset 'utf-8';

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    vertical-align: bottom;
}


/* 헤더 */

.boxA {
    padding-top: 30px;
}

.logo {
    font-weight: bold;
    color: tomato;
    font-size: 35px;
    padding-bottom: 20px;
}

.nev {
    background-color: tomato;
}

.nev ul {
    display: flex;
}

.nev ul li {
    color: #fff;
    padding: 15px 10px;
}

.nev ul li:hover {
    background-color: green;
}

/* 박스 2-1 
메인 */

.btn {
    margin: 30px 0;
}

.btn ul {
    display: flex;
}

.btn ul li {
    margin-right: 10px;
    background-color: tomato;
    border-radius: 5px;
    padding: 5px 8px;
}

.btn ul li a {
    color: #fff;
    font-size: 12px;
}

.btn ul li:hover {
    background-color: green;
}

.main {}

.main h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.main .date {
    margin-bottom: 15px;
}

.main .date i {
    color: #bbb;
    margin-right: 10px;
}

.main p {margin-top: 10px; font-size: 15px;}

/* 박스3-1 */
.box3-1 {
    padding-top: 30px;
}

.box3-1-1,
.box3-2-1 {
    display: flex;
}

.box3-2-1 {
    margin-top: 30px;
}

.soide {
    width: 8px;
    height: 30px;
    background-color: tomato;
    margin-right: 10px;
}

.box3 h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

.box3 p {font-size: 15px;}

/* 박스3-3 (sns) */
.sns {
    width: 100%;
    padding-top: 20px;
}

.sns ul {
    display: flex;

}

.sns ul li {
    background-color: antiquewhite;
    text-align: center;
    width: 100%;
    padding: 10px 60px;
}

.sns ul li a {
    color: #fff;
    font-size: 12px;
}

.sns ul li:nth-child(1) {
    background-color: #00acee;

}

.sns ul li:nth-child(2) {
    background-color: #3b5998;
}

.sns ul li:nth-child(3) {
    background-color: #de5246;
}

.sns i {
    margin-right: 10px;

}


/* box4 관련기사 */
.box4 {
    padding-top: 30px;
}

.box4-1 {
    background-color: #FAF9E5;
    width: 100%;
}

.box4-1-1 {
    padding: 25px;
    margin-left: 20px;
}

.box4-1 h3 {
    font-weight: normal;
    color: #58662f;
}

.box4-1-1 ul {
    display: flex;
    justify-content: space-between;
}

.box4-1-1 ul li {
    width: 150px;
    margin-right: 10px;
    font-size: 14px;
}

.box4-1-1 ul li p {
    margin-top: 5px;
}

/* 박스 C 사이드바 */

/* 특집기사 */
.aside {
    padding-left: 50px;
}

.box6 {
    padding-top: 30px;
}

.aside h3 {
    display: block;
    border-bottom: 1px dotted #bbb;
}

.box6 ul {
    padding-top: 10px;
}

.box6 ul li {
    margin-bottom: 10px;
}

.box6 ul i {
    color: tomato;
    margin-right: 8px;
}


/* 꽃꽃이 */
.box7 h3 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.box7-1 {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.box7-1 img {
    width: 400px;
    display: block;
}

.box7-txt {
    color: #fff;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;
}

.box7-txt p {margin-top: 3px;}

.box7-2 {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.box7-2 img {
    width: 100%;
    display: block;
}



/* 인기기사 */


.box8 h3 {
    margin-bottom: 10px;
    margin-top: 30px;
}

.box8 ul li {
    display: flex;
    border-bottom: 1px #bbb dotted;
}

.box8 ul li img {
    margin: 5px 0;
    margin-right: 8px;
}

.box8 ul li div p {
    color: tomato;
    margin-top: 2px;
}

.box8 ul li div span {
    font-size: 13px;
    color: #777;
}




/* 푸터 */
footer {
    padding-top: 40px;
}

footer p {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
}



/* 레이아웃 */

.box1-1,
footer>p {
    max-width: 1200px;
    margin: 0 auto;
}

.nev ul {
    max-width: 1200px;
    margin: 0 auto;
}

.box {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.boxB {
    flex: 3;
}

.boxC {
    flex: 1;
}